[user]
	name = Victor Tapia
	email = vtapia@spezialk.net

[github]
	user = vtapia

[core]
	editor = vim

[color]
	diff = auto

[push]
	default = simple

[diff]
	mnemonicprefix = true
	algorithm = patience

[credential]
	helper = cache --timeout=3600

